.recent-news {
    margin: rem-calc(40) 0 rem-calc(10);

    @include media-breakpoint-up(md) {
        margin: rem-calc(80) 0 rem-calc(50);
    }

    &__title-wrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        margin-bottom: rem-calc(40);
    }

    &__more {
        color: map-deep-get($colors, "black", "default");
        text-transform: uppercase;
        font-weight: 700;
        border-bottom: 2px solid map-deep-get($colors, "pink", "default");
        transition: $transition-default;

        &:hover,
        &:focus {
            color: map-deep-get($colors, "pink", "default");
        }
    }
}