<div class="news-overview">
    <div class="container">
        <div class="row">

            {% set newsItems = craft.entries.section('newsItem').all() %}

            {% for newsItem in newsItems %}
                <div class="col-xs-24 col-sm-12 col-md-8">
                    {% include 'news/partials/news-item.twig' with {
                        'title': newsItem.title,
                        'intro': newsItem.intro,
                        'link': newsItem.url,
                        'img': '/public/images/news-image.jpg'
                    } %}
                </div>
            {% endfor %}
        </div>
    </div>
</div>