<a href="{{ link }}" class="news-item">
    <div class="news-item__img b-lazy" data-src="{{ img }}"></div>
    <div class="news-item__content">
        <h3 class="news-item__title">{{ title }}</h3>
        <div class="news-item__text">
            {{ intro|striptags|slice(0, 100) }}
            {{ intro|length > 100 ? '...' : '' }}
        </div>
    </div>
</a>