<div class="recent-news">
    <div class="container">

        <div class="row">
            <div class="col">
                <div class="recent-news__title-wrapper">
                    <h2 class="recent-news__title">Het laatste nieuws</h2>
                    <a href="#" class="recent-news__more">Bekijk al het nieuws</a>
                </div>
            </div>
        </div>

        <div class="row">
            {% set newsItems = craft.entries.section('newsItem').limit(3) %}

            {% for newsItem in newsItems %}
                <div class="col-xs-24 col-sm-12 col-md-8">
                    {% include 'news/partials/news-item.twig' with {
                    'title': newsItem.title,
                    'intro': newsItem.intro,
                    'link': newsItem.url,
                    'img': '/public/images/news-image.jpg'
                    } %}
                </div>
            {% endfor %}
        </div>
    </div>
</div>