{% extends 'master/index.html.twig' %}

{% block content %}
    {% include 'partials/hero.html.twig' with {
        'large': true
    } %}

    {% include 'partials/about-me.html.twig' with {
        'caption': entry.aboutMeCaption,
        'title': entry.aboutMeTitle,
        'text': entry.aboutMeText
    } %}

    {% include 'partials/about-nacmu.html.twig' %}

    {% include 'news/partials/recent-news.twig' %}

    {% include 'partials/company-logos.html.twig' %}

{% endblock %}
