<div class="about-me">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xs-24 col-md-16">
                <div class="about-me__content">
                    <span class="caption">{{ caption }}</span>
                    <h2 class="about-me__title">{{ title }}</h2>
                    <div class="about-me__text">{{ text }}</div>
                </div>
            </div>
        </div>

        {% include 'partials/support-blocks.html.twig' %}
    </div>
</div>