<div class="about-nacmu">
    <div class="container">
        <div class="row">
            <div class="col-xs-24 col-md-8">
                <div class="about-nacmu__image-wrapper">
                    <img class="about-nacmu__image" src="/public/images/nacmu-logo.png" alt="">
                </div>
            </div>
            <div class="col-xs-24 col-sm-18 offset-sm-3 col-md-14 offset-md-1 col-lg-12 offset-lg-2">
                <span class="caption caption--white">{{ entry.aboutNacmuCaption }}</span>
                <h2 class="about-nacmu__title">{{ entry.aboutNacmuTitle }}</h2>
                <div class="about-nacmu__text">
                    {{ entry.aboutNacmuText }}
                </div>

                <a href="https://www.nacmu.org" target="_blank" class="about-nacmu__button button button--pink-ghost">Naar nacmu</a>
            </div>
        </div>
    </div>
</div>