<div class="company-logos">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="company-logos__content">
                    <img class="company-logos__img" src="/public/images/logo.png" />
                    <img class="company-logos__img" src="/public/images/nacmu-logo.png" />
                    <img class="company-logos__img" src="/public/images/logo.png" />
                    <img class="company-logos__img" src="/public/images/nacmu-logo.png" />
                </div>
            </div>
        </div>
    </div>
</div>