<div class="cta">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="cta__content">
                    <h3 class="h2 h2--light cta__caption">{{ ctaBlock.ctaCaption }}</h3>
                    <h2 class="h1 cta__title">{{ ctaBlock.ctaTitle }}</h2>
                    <a href="{{ ctaBlock.ctaButtonLink.one().url }}" class="cta__button button button--ghost">{{ ctaBlock.ctaButtonText }}</a>
                </div>
            </div>
        </div>
    </div>
</div>