<section class="detail-content">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xs-24 col-md-16">
                <div class="detail-content__intro">
                    {{ entry.intro }}
                </div>

                <div class="detail-content__text">
                    {{ entry.text }}
                </div>
            </div>
        </div>
    </div>
</section>