<div class="text-block text-block--gray">
    <div class="container">
        <div class="row">
            <div class="col-xs-24 col-sm-18 offset-sm-3 col-md-14 offset-md-1 col-lg-12 offset-lg-2">
                <span class="caption caption--white">{{ entry.giftshopCaption }}</span>
                <h2 class="text-block__title">{{ entry.giftshopTitle }}</h2>
                <div class="text-block__text">
                    {{ entry.giftshopText }}
                </div>

                <a href="{{ entry.giftshopLink.one().url }}" class="text-block__button button button--pink-ghost">{{ entry.giftshopLinkText }}</a>
            </div>
            <div class="col-xs-24 col-md-8">
                <div class="text-block__image-wrapper">
                    <img class="text-block__image" src="/public/images/nacmu-logo.png" alt="">
                </div>
            </div>
        </div>
    </div>
</div>