<div class="hero{{ large|default ? ' hero--large': '' }}">
    <div class="hero__bg b-lazy" data-src="/public/images/hero.jpg"></div>

    <div class="container">
        <div class="row">
            <div class="col col-xs-24">
                <div class="hero__content">
                    <h1 class="hero__title">{{ entry.heroTitle }}</h1>
                    {% if entry.heroSubTitle %}
                        <p class="hero__text">{{ entry.heroSubTitle }}</p>
                    {% endif %}

                    {% if entry.heroButtonLink %}
                        <div class="hero__buttons">
                            {% if entry.heroButtonLink.one() is not null %}
                                <a href="{{ entry.heroButtonLink.one().url }}"
                                   class="hero__button button button--ghost">{{ entry.heroButtonText }}</a>
                            {% endif %}
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>