<div class="text-block">
    <div class="container">
        <div class="row">
            <div class="col-xs-24 col-md-8">
                <div class="text-block__image-wrapper">
                    <img class="text-block__image" src="/public/images/nacmu-logo.png" alt="">
                </div>
            </div>
            <div class="col-xs-24 col-sm-18 offset-sm-3 col-md-14 offset-md-1 col-lg-12 offset-lg-2">
                <span class="caption">{{ entry.newsSupportBlockCaption }}</span>
                <h2 class="text-block__title">{{ entry.newsSupportBlockTitle }}</h2>
                <div class="text-block__text">
                    {{ entry.newsSupportBlockText }}
                </div>

                <a href="mailto:adrienneinoeganda@outlook.com?subject=Nieuwsbrief&body=Ik wil mij bij deze graag aanmelden voor de nieuwsbrief!" class="text-block__button button button--pink-ghost">{{ entry.newsSupportBlockLinkText }}</a>
            </div>
        </div>
    </div>
</div>