<div class="product-details">
    <div class="container">
        <div class="row">
            <div class="col-xs-24 col-sm-10">
                <img class="product-details__image" src="{{ entry.productImage.one().url }}" />
            </div>
            <div class="col-xs-24 col-sm-13 offset-sm-1">
                <div class="product-details__content">
                    <h1>{{ entry.title }}</h1>
                    <h2 class="product-details__content-price">€ {{ entry.price }}</h2>

                    {{ entry.productDescription }}

                    <a href="mailto:adrienneinoeganda@outlook.com?subject=Ik wil Product {{ entry.title }}: &body=Hallo, %0D%0A%0D%0AIk wil graag '{{ entry.title }}' voor € {{ entry.price }}.%0D%0A%0D%0AMet vriendelijke groet," class="button button--blue-dark-border">Ik wil deze!</a>
                </div>
            </div>
        </div>
    </div>
</div>

