<a href="{{ link.one().url }}" class="support-block">
    <div class="support-block__title-content">

        {{ icon|raw }}

        <div class="support-block__title-content-inner">
            <h3 class="support-block__title">{{ title }}</h3>
            <span class="support-block__sub-title">{{ subTitle }}</span>
        </div>
    </div>
    <p class="support-block__text">
        {{ text }}
    </p>
</a>