﻿//
// Colors
$colors: (
    "white": ("default": #ffffff),
    "black": ("default": #000000),
    "gray": ("dark": #555555, "default": #76777b, "light": lighten(#76777b, 25%), "lighter": lighten(#76777b, 45%), "lightest": lighten(#76777b, 50%)),
    "blue": ("darkest": #232730, "dark": darken(#1e5ea0, 25%), "default": #1e5ea0, "light": lighten(#1e5ea0, 25%)),
    "pink": ("dark": darken(#fd2e64, 25%), "default": #fd2e64, "light": lighten(#fd2e64, 25%)),
    "validation": ("valid": #42c055, "invalid": #e50044, "valid-dark": darken(#42c055, 25%), "invalid-dark": darken(#e50044, 25%)),
    "social": ("facebook": #3b5998, "twitter": #1da1f2, "instagram": #c13584, "youtube": #ff0000, "linkedin": #0077b5, "pinterest": #bd081c),
);

//
// Fonts
$font-default: "Overpass", sans-serif;
$font-heading: "Overpass", sans-serif;

//
// Transition defaults
$transition-default-smoothing: ease-in-out;
$transition-default-time: .3s;
$transition-default: all $transition-default-time $transition-default-smoothing;

$transition-cubic-smoothing: cubic-bezier(.2, 0, 0, 1);
$transition-cubic-time: .5s;
$transition-cubic: all $transition-cubic-time $transition-cubic-smoothing;

//
// Border Radius
$border-radius: 5px;

//
// Box Shadow
$box-shadow: 0 0 16px 2px rgba(map-deep-get($colors, "black", "default"), .2);