<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="footer__content">
                    <div>
                        <h3 class="footer__title">Adriënne in Oeganda</h3>
                        <span>Copyright {{ "now"|date('Y') }}</span>
                    </div>

                    {{
                        craft.navigation.render('footerMenu', {
                            ulClass: 'footer__list',
                            liClass: 'footer__list-item',
                            aClass: 'footer__list-link',
                            activeClass: 'footer__list-link--active'
                        })
                    }}
                </div>
            </div>
        </div>
    </div>
</footer>