<header id="header" class="header" :class="{ 'header--scrolled': scrolled, 'header--menuExpanded': menuExpanded }">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="header__content">
                    <a href="/" class="header__logo">
                        <img class="header__logo-img" src="/public/images/logo.png" alt="">
                    </a>

                    <nav class="header__nav">
                        {% import _self as macros %}
                        {% set activeNode = craft.navigation.getActiveNode() %}

                        <ul class="header__list">
                            {% for node in craft.navigation.nodes({ handle: 'mainMenu', level: 1 }).all() %}
                                {{ macros.navigationNodes(node) }}
                            {% endfor %}
                        </ul>

                        {% macro navigationNodes(node) %}
                            {% import _self as macros %}

                            <li class="header__list-item">
                                <a href="{{ node.url }}" class="header__list-link {{ node.classes }}">{{ node.title }}</a>
                            </li>
                        {% endmacro %}
                    </nav>

                    <a href="#" @click.prevent="menuExpanded = !menuExpanded" class="d-block d-sm-none header__hamburger hamburger hamburger--squeeze" :class="{ 'is-active hamburger--inverted': menuExpanded }" type="button">
                        <span class="hamburger-box">
                            <span class="hamburger-inner"></span>
                        </span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</header>