.product-details {
    background-color: map-deep-get($colors, "blue", "darkest");
    color: map-deep-get($colors, "white", "default");
    padding: 70px 0;
    position: relative;
    overflow: hidden;

    @include media-breakpoint-up(sm) {
        padding: 200px 0 100px;
    }

    &__content {
        margin-top: rem-calc(50);
        position: relative;
        z-index: 2;
    }

    &__image {
        position: relative;
        z-index: 2;
    }

    &__content-price {
        color: map-deep-get($colors, "pink", "default")
    }

    &::before {
        content: "";
        width: 80%;
        position: absolute;
        top: 0;
        bottom: 0;
        left: -55%;
        background-color: map-deep-get($colors, "pink", "default");
        z-index: 1;
        transform: skewX(45deg);
        display: none;

        @include media-breakpoint-up(sm) {
            display: block;
        }
        @include media-breakpoint-up(lg) {
            left: -45%;
        }
    }
}
