.product-item {
    display: block;
    color: map-deep-get($colors, "black", "default");
    margin-bottom: rem-calc(30);
    transition: $transition-default;
    $product-item: &;

    &__title {
        transition: $transition-default;
    }

    &__img {
        height: rem-calc(300);
        background-size: cover;
        background-position: center;
    }

    &__content {
        padding: 30px 20px;
        border: 1px solid map-deep-get($colors, "gray", "lighter");
        transition: $transition-default;
    }

    &:hover,
    &:focus {
        margin-bottom: rem-calc(20);

        #{$product-item}__content {
            padding: 40px 20px 30px;
        }

        #{$product-item}__title {
            color: map-deep-get($colors, "pink", "default");
        }
    }
}
