.contact-content {
    padding: 80px 0;
    $contact-content: &;

    &__title {
        margin-bottom: rem-calc(40);
    }

    &__item {
        display: flex;
        color: map-deep-get($colors, "black", "default");
        margin-top: rem-calc(30);

        @include media-breakpoint-up(md) {
            margin-top: 0;
        }

        &--link {
            &:hover,
            &:focus {
                #{$contact-content}__item-icon {
                    background-color: map-deep-get($colors, "pink", "default");
                    border-color: map-deep-get($colors, "pink", "default");

                    svg {
                        fill: map-deep-get($colors, "white", "default");
                    }
                }
            }
        }
    }

    &__item-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-left: rem-calc(20);
    }

    &__item-label {
        font-weight: 700;
    }

    &__item-value {
        margin-top: rem-calc(5);

        p {
            margin: 0;
            line-height: 1.6;
        }
    }

    &__item-icon {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        width: rem-calc(50);
        height: rem-calc(50);
        border-radius: 50%;
        border: 1px solid map-deep-get($colors, "gray", "light");
        transition: $transition-default;

        svg {
            fill: map-deep-get($colors, "pink", "default");
            transition: $transition-default;
        }
    }
}