﻿/// <reference path="../_reference.scss" />

*, *::before, *::after {
    box-sizing: border-box;
}

*:focus {
    outline: none;
}

html, body {
    margin: 0 auto;
    padding: 0;
    font-family: $font-default;
    font-weight: 400;
    max-width: rem-calc(1920);
}

ul {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: map-deep-get($colors, "blue", "default");
}

b, strong {
    font-weight: 700;
}

img {
    max-width: 100%;
}

blockquote {
    font-style: italic;
    font-family: $font-heading;
    width: 80%;
    margin: rem-calc(50) auto;
    position: relative;

    &:last-of-type {
        margin-bottom: 0;
    }

    &::before {
        content: "\"";
        font-size: rem-calc(32);
        display: inline-block;
        color: map-deep-get($colors, "blue", "default");
        position: absolute;
        left: rem-calc(-20);
        top: rem-calc(-10);
    }

    /* stylelint-disable */
    p {
        color: map-deep-get($colors, "blue", "default");
        display: inline;
    }
    /* stylelint-enable */
}

::selection {
    background-color: map-deep-get($colors, "blue", "default");
    color: map-deep-get($colors, "white", "default");
}

.container {
    padding-left: 20px;
    padding-right: 20px;

    @include media-breakpoint-up(lg) {
        padding-left: 10px;
        padding-right: 10px;
    }
}