.button {
    background: map-deep-get($colors, "pink", "default");
    color: map-deep-get($colors, "white", "default");
    border: 2px solid map-deep-get($colors, "pink", "default");
    padding: 15px 35px 12px;
    border-radius: 100px;
    transition: $transition-default;
    display: inline-block;
    flex-shrink: 0;
    font-family: $font-default;
    cursor: pointer;
    font-size: rem-calc(18);
    line-height: 1;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: .5px;

    &:hover,
    &:focus {
        background: map-deep-get($colors, "pink", "light");
        border-color: map-deep-get($colors, "pink", "light");
    }

    &--ghost {
        background: transparent;
        border: 2px solid map-deep-get($colors, "white", "default");

        &:hover,
        &:focus {
            background: map-deep-get($colors, "pink", "default");
            border-color: map-deep-get($colors, "pink", "default");
        }
    }

    &--blue-dark-border {
        border: 6px solid map-deep-get($colors, "blue", "darkest");

        &:hover,
        &:focus {
            border: 6px solid map-deep-get($colors, "blue", "darkest");
        }
    }

    &--pink-ghost {
        background: transparent;
        border: 2px solid map-deep-get($colors, "pink", "default");
        color: map-deep-get($colors, "pink", "default");

        &:hover,
        &:focus {
            border: 2px solid map-deep-get($colors, "pink", "default");
            background-color: map-deep-get($colors, "pink", "default");
            color: map-deep-get($colors, "white", "default");
        }
    }
}
