﻿h1, h2, h3, h4, h5, h6 {
    margin: 0;
    font-family: $font-heading;
    line-height: 1.2;
}

h1, .h1 {
    font-size: rem-calc(21);

    @include media-breakpoint-up(sm) {
        font-size: rem-calc(42);
    }
    @include media-breakpoint-up(md) {
        font-size: rem-calc(60);
    }
}

h2, .h2 {
    font-size: rem-calc(18);
    position: relative;

    @include media-breakpoint-up(md) {
        font-size: rem-calc(36);
    }

    &--light {
        font-weight: 300;
        font-style: italic;
    }
}

h3, .h3 {
    font-size: rem-calc(24);
}

h6, .h6 {
    font-size: rem-calc(18);
}

p, ul, ol {
    margin: rem-calc(10) 0;
    line-height: 1.9;
}

ul, ol {
    margin-left: rem-calc(20);
}

.title-highlight {
    color: map-deep-get($colors, "pink", "default");
}