.footer {
    background-color: map-deep-get($colors, "blue", "darkest");
    color: map-deep-get($colors, "white", "default");
    padding: 40px 0;

    &__content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;

        @include media-breakpoint-up(md) {
            flex-wrap: nowrap;
        }
    }

    &__title {
        flex-shrink: 0;
    }

    &__list {
        display: flex;
        align-items: center;
        margin: rem-calc(30) 0 0;
        flex-wrap: wrap;
        width: 100%;

        @include media-breakpoint-up(md) {
            flex-wrap: nowrap;
            margin: 0;
            width: auto;
        }
    }

    &__list-item {
        margin: rem-calc(10) 0 0;
        list-style-type: none;
        display: block;
        width: 100%;

        @include media-breakpoint-up(md) {
            display: inline-block;
            width: auto;
            margin: 0 rem-calc(20);
        }

        &:last-of-type {
            margin-right: 0;
        }
    }

    &__list-link {
        color: map-deep-get($colors, "white", "default");
        text-decoration: none;
        transition: $transition-default;

        &:hover,
        &:focus {
            color: map-deep-get($colors, "pink", "default");
        }
    }
}
