.header {
    position: fixed;
    z-index: 10;
    width: 100%;
    transition: $transition-default;
    border-bottom: 1px solid transparent;
    background-color: map-deep-get($colors, "white", "default");
    border-bottom: 1px solid map-deep-get($colors, "gray", "lighter");
    padding: 10px 0;
    $header: &;

    @include media-breakpoint-up(sm) {
        padding: 40px 0 0;
        background-color: transparent;
        border-bottom: none;
    }

    &__content {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__logo {
        display: flex;
        align-items: center;
    }

    &__logo-img {
        transition: $transition-default;
        width: rem-calc(120);

        @include media-breakpoint-up(md) {
            width: rem-calc(210);
        }
    }

    &__list {
        display: flex;
        align-items: center;
        align-content: center;
        flex-wrap: wrap;
        width: 100%;
        list-style-type: none;
        margin: 0;
        line-height: 1;
        position: fixed;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        background-color: map-deep-get($colors, 'blue', 'default');
        transform: translate3d(100%, 0, 0);
        opacity: 0;
        transition: opacity .3s ease-in-out, transform 0s linear .3s;

        @include media-breakpoint-up(sm) {
            position: static;
            background-color: transparent;
            flex-wrap: nowrap;
            transform: none;
            opacity: 1;
            transition: none;
        }
    }

    &__list-item {
        margin: rem-calc(20) 0;
        width: 100%;
        text-align: center;

        @include media-breakpoint-up(sm) {
            margin: 0;
            width: auto;
        }
    }

    &__list-link {
        color: map-deep-get($colors, "white", "default");
        margin: rem-calc(5) rem-calc(10) 0;
        text-transform: uppercase;
        font-weight: 700;
        display: inline-block;
        position: relative;
        transition: $transition-default;
        font-size: 5vw;

        @include media-breakpoint-up(sm) {
            font-size: rem-calc(13);
        }
        @include media-breakpoint-up(md) {
            font-size: rem-calc(16);
            margin: rem-calc(5) rem-calc(15) 0;
        }

        &::after {
            content: "";
            height: rem-calc(3);
            position: absolute;
            bottom: rem-calc(-5);
            left: 0;
            width: 0;
            background-color: map-deep-get($colors, "pink", "default");
            display: inline-block;
            transition: $transition-default;
        }

        &:hover,
        &:focus {
            &::after {
                width: 100%;
            }
        }

        &--button {
            margin-top: 0;

            &::after {
                display: none;
            }
        }
    }

    &--scrolled {
        #{$header}__logo-img {
            width: rem-calc(120);

            @include media-breakpoint-up(md) {
                width: rem-calc(180);
            }
        }

        @include media-breakpoint-up(sm) {
            padding: 20px 0;
            background-color: map-deep-get($colors, "white", "default");
            border-bottom: 1px solid map-deep-get($colors, "gray", "lighter");

            #{$header}__list-link {
                color: map-deep-get($colors, "black", "default");

                &--button {
                    color: map-deep-get($colors, "white", "default");
                }
            }
        }
    }

    &--menuExpanded {
        #{$header}__list {
            transform: translate3d(0, 0, 0);
            opacity: 1;
            transition: opacity .3s ease-in-out, transform 0s linear;
        }
    }
}