<a href="{{ link }}" class="product-item">
    <div class="product-item__img b-lazy" data-src="{{ img }}"></div>
    <div class="product-item__content">
        <h3 class="product-item__title">{{ title }}</h3>
    </div>
</a>