<div class="product-overview">
    <div class="container">
        <div class="row">

            {% set products = craft.entries.section('product').all() %}

            {% for product in products %}
                <div class="col-xs-24 col-sm-12">
                    {% include 'giftshop/partials/product-item.twig' with {
                        'title': product.title,
                        'link': product.url,
                        'img': product.productImage.one().url
                    } %}
                </div>
            {% endfor %}
        </div>
    </div>
</div>