{% extends 'master/index.html.twig' %}

{% block content %}

    {% include 'partials/hero.html.twig' %}

    {% include 'partials/detail-content.html.twig' %}

    {% include 'partials/cta.html.twig' %}

{% endblock %}