{% extends 'master/index.html.twig' %}

{% block content %}
    {% include 'partials/hero.html.twig' %}

    {% include 'news/partials/news-overview.twig' %}

    {% include 'partials/company-logos.html.twig' %}

{% endblock %}