{% extends 'master/index.html.twig' %}

{% block content %}

    {% include 'partials/hero.html.twig' %}

    {% include 'partials/contact-content.html.twig' %}

    <a href="https://goo.gl/maps/fbMbA5onoDM2" target="_blank" class="contact-map">
        <img src="/public/images/contact-map.jpg" alt="">
    </a>
{% endblock %}