.about-me {
    margin: rem-calc(60) 0 rem-calc(50);

    @include media-breakpoint-up(md) {
        margin: rem-calc(80) 0 rem-calc(100);
    }

    &__content {
        text-align: center;
    }

    &__title {
        margin-top: rem-calc(20);
    }

    &__text {
        color: map-deep-get($colors, "gray", "default");
        margin-top: rem-calc(20);
        line-height: 1.9;
    }
}