.about-nacmu {
    background-color: map-deep-get($colors, "gray", "lightest");
    padding: 80px 0;

    &__title {
        margin-top: rem-calc(20);
    }

    &__text {
        color: map-deep-get($colors, "gray", "default");
        margin-top: rem-calc(30);
    }

    &__button {
        margin-top: rem-calc(30);
    }

    &__image-wrapper {
        text-align: center;
        margin-bottom: rem-calc(40);

        @include media-breakpoint-up(md) {
            margin-bottom: 0;
        }
    }
}