.caption {
    background-color: map-deep-get($colors, "gray", "lighter");
    color: map-deep-get($colors, "gray", "light");
    padding: 5px 10px;
    line-height: 1;
    text-transform: uppercase;
    display: inline-block;
    font-size: rem-calc(12);
    font-weight: 700;

    &--white {
        background-color: map-deep-get($colors, "white", "default");
    }
}