.company-logos {
    background-color: map-deep-get($colors, "gray", "lightest");
    padding: 40px 0;

    &__content {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        margin: 0 rem-calc(-20);

        @include media-breakpoint-up(md) {
            justify-content: space-between;
        }
    }

    &__img {
        max-width: rem-calc(220);
        max-height: rem-calc(120);
        filter: grayscale(90%);
        transition: $transition-default;
        margin: rem-calc(20);

        &:hover,
        &:focus {
            filter: grayscale(0);
        }
    }
}