.cta {
    padding: 20px 0;
    min-height: rem-calc(300);
    background-image: url('/public/images/cta.jpg');
    background-size: cover;
    background-position: center;
    position: relative;
    display: flex;
    align-items: center;
    color: map-deep-get($colors, "white", "default");

    &::before {
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        background-color: rgba(map-deep-get($colors, "black", "default"), .5);
        z-index: 1;
    }

    &__content {
        position: relative;
        z-index: 2;
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
    }

    &__button {
        margin-top: rem-calc(30);
    }
}
