.detail-content {
    margin: rem-calc(40) 0;

    @include media-breakpoint-up(md) {
        margin: rem-calc(80) 0;
    }

    &__intro {
        font-size: rem-calc(21);
        line-height: 1.6;
    }

    &__text {
        margin: rem-calc(40) 0;

        @include media-breakpoint-up(md) {
            margin: rem-calc(40) 0 rem-calc(60);
        }
    }
}