.hero {
    color: map-deep-get($colors, "white", "default");
    position: relative;
    padding: 60px 0 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;

    &--large {
        min-height: rem-calc(400);
        padding: 60px 0;
        @include media-breakpoint-up(sm) {
            height: rem-calc(700);
        }
    }

    &::before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        background: rgba(map-deep-get($colors, "black", "default"), .6);
        width: 100%;
        z-index: 1;
    }

    &__bg {
        background-size: cover;
        background-position: center;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        margin: 0 auto;
    }

    &__content {
        position: relative;
        z-index: 2;
        margin: rem-calc(60) auto 0;
        text-align: center;
        max-width: rem-calc(430);

        @include media-breakpoint-up(sm) {
            margin: rem-calc(120) auto 0;
            max-width: none;
        }
    }

    &__text {
        font-size: rem-calc(16);
        margin: 0;

        @include media-breakpoint-up(sm) {
            font-size: rem-calc(24);
        }
    }

    &__button {
        margin-top: rem-calc(50);
    }
}
