.support-block {
    transition: $transition-default;
    background-color: map-deep-get($colors, "white", "default");
    color: map-deep-get($colors, "black", "default");
    border: 1px solid map-deep-get($colors, "gray", "lighter");
    padding: 30px;
    display: block;
    margin-bottom: rem-calc(20);
    $support-block: &;

    @include media-breakpoint-up(lg) {
        margin-bottom: 0;
    }

    &__title-content {
        display: flex;

        svg {
            width: rem-calc(40);
            height: rem-calc(40);
            transition: $transition-default;
            flex-shrink: 0;
            fill: map-deep-get($colors, "pink", "default");
        }
    }

    &__title-content-inner {
        margin-left: rem-calc(20);
    }

    &__sub-title {
        font-style: italic;
        display: inline-block;
        color: map-deep-get($colors, "gray", "light");
        transition: $transition-default;
    }

    &__text {
        font-size: rem-calc(14);
        line-height: 1.6;
        color: map-deep-get($colors, "gray", "light");
        margin-top: rem-calc(30);
        transition: $transition-default;
    }

    &:hover,
    &:focus {
        background-color: map-deep-get($colors, "pink", "default");
        border: 1px solid map-deep-get($colors, "pink", "default");
        color: map-deep-get($colors, "white", "default");

        #{$support-block}__sub-title,
        #{$support-block}__text {
            color: map-deep-get($colors, "white", "default");
        }

        svg {
            fill: map-deep-get($colors, "white", "default");
        }
    }
}