.support-blocks {
    margin-top: rem-calc(40);

    @include media-breakpoint-up(md) {
        margin-top: rem-calc(80);
    }

    &--push-down {
        margin-bottom: rem-calc(20);

        @include media-breakpoint-up(md) {
          margin-bottom: rem-calc(80);
        }
    }
}