.text-block {
    padding: 80px 0;

    &__title {
        margin-top: rem-calc(20);
    }

    &__text {
        color: map-deep-get($colors, "gray", "default");
        margin-top: rem-calc(30);

        p {
            margin: 0;

            &:first-of-type {
                margin-bottom: rem-calc(30);
            }
        }
    }

    &__button {
        margin-top: rem-calc(30);
    }

    &__image {
        margin-top: rem-calc(40);

        @include media-breakpoint-up(md) {
            margin-top: 0;
        }
    }

    &__image-wrapper {
        text-align: center;
        margin-bottom: rem-calc(40);

        @include media-breakpoint-up(md) {
            margin-bottom: 0;
        }
    }

    &--gray {
        background-color: map-deep-get($colors, "gray", "lightest");
    }
}