<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta charset="utf-8"/>
    <title>{{ entry.title }}</title>
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, viewport-fit=cover"/>
    <meta name="referrer" content="origin-when-cross-origin"/>

    <link rel="apple-touch-icon" sizes="180x180" href="{{ siteUrl }}apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ siteUrl }}favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ siteUrl }}favicon-16x16.png">
    <link rel="manifest" href="{{ siteUrl }}site.webmanifest">
    <link rel="mask-icon" href="{{ siteUrl }}safari-pinned-tab.svg" color="#0071cf">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">

    <link href="{{ siteUrl }}public/css/main.min.css" rel="stylesheet">
</head>
<body>
<div class="barba-bg"></div>

<div id="barba-wrapper">
    <div class="barba-container">

        {% include 'master/partials/header.html.twig' %}

        {% block content %}{% endblock %}

        {% include 'master/partials/footer.html.twig' %}
    </div>
</div>

<script src="/public/js/vendors.min.js" type="text/javascript"></script>
<script src="/public/js/app.min.js" type="text/javascript"></script>
</body>
</html>
