{% extends 'master/index.html.twig' %}

{% block content %}

    {% include 'partials/hero.html.twig' %}

    {% include 'partials/donate-block.html.twig' %}

    {% include 'partials/giftshop-block.html.twig' %}

    {% include 'partials/news-support-block.html.twig' %}

    {% include 'partials/company-logos.html.twig' %}

{% endblock %}