{% extends 'master/index.html.twig' %}

{% block content %}

    {% include 'partials/product-details.html.twig' %}

    <div class="container">
        <div class="row">
            <div class="col">
                {% include 'partials/support-blocks.html.twig' with {
                    'pushDown': true
                } %}
            </div>
        </div>
    </div>

    {% include 'partials/cta.html.twig' %}

{% endblock %}