{% extends 'master/index.html.twig' %}

{% block content %}
    {% include 'partials/hero.html.twig' %}

    {% include 'giftshop/partials/product-overview.twig' %}

    {% include 'partials/company-logos.html.twig' %}

{% endblock %}